@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #f1f1f1;
  background-color: rgb(41, 41, 41);
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(110, 110, 110);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8fffaa;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #79e192;
}

:root {
  --modal-main-background: #393939;
  --modal-header-background: #5c5c5c;
  --modal-border: 1px solid #5c5c5c;
  --modal-border-primary-color: 1px solid #8fffab;
  --modal-border-primary-color-focus: 2px solid #8fffab;
  --modal-border-radius: 8px;
  --modal-padding: 16px;
  --modal-big-gap: 28px;
  --modal-primary-color: #8fffab;
  --modal-white: #f1f1f1;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-width: 280px;
  margin: 0 2em 2em 2.5em;
  position: relative;
}

.home {
  color: #f1f1f1;
  text-decoration: none;
}

header {
  background-color: rgb(31, 31, 31);
  padding: 1.8em;
  border-radius: 8px;
  /* SEARCH_BOTTOM - commented out the previos margin */
  margin-top: 6.5em;
  /* margin-top: 3.5em; */
}

.header-details {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 25px;
  line-height: 100%;
  padding-bottom: 0.2em;
}

.header-description {
  font-size: 16px;
}

.header-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.go-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 6px 8px;
  color: #f1f1f1;
  background-color: #292929;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 8px;
  transition: background-color 300ms ease, color 300ms ease;
  z-index: 1;
}

.go-to-top-button:hover {
  background-color: rgb(31, 31, 31);
  color: #8fffab;
  transition: background-color 300ms ease, color 300ms ease;
  cursor: pointer;
}

.go-to-top-button:active {
  color: #8fffab;
  background-color: rgb(21, 21, 21);
  transition: background-color 300ms ease, color 300ms ease;
}

.go-to-home-button {
  background: #1f1f1f;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.go-to-home-button:hover,
.reload-button:hover {
  background-color: rgb(31, 31, 31);
  color: #8fffab;
  transition: background-color 300ms ease, color 300ms ease;
  cursor: pointer;
}

.go-to-home-button:active,
.reload-button:active {
  color: #8fffab;
  background-color: rgb(21, 21, 21);
  transition: background-color 300ms ease, color 300ms ease;
}

.resource-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.resources-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 5em;
}

.resource {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: #f1f1f1;
  text-decoration: none;
  background-color: transparent;
  padding: 20px;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 10px;
  font-weight: 700;
  flex-wrap: wrap;
  width: 100%;
  transition: background-color 300ms ease;
}

.resource-title {
  font-weight: 400;
  font-size: 18px;
  padding-right: 35px;
}

.resource:hover {
  background-color: rgb(31, 31, 31);
}

.resource:focus-visible {
  color: #8fffab;
  border: 1px solid #8fffab;
  outline: #8fffab 3px solid;
  outline-offset: 0;
}

.resource-type {
  font-size: x-small;
  top: 20px;
  right: 20px;
  color: rgb(51, 51, 51);
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 10px;
}

.search-input {
  font-family: "Roboto Mono", monospace;
  background-color: #f1f1f1;
  max-width: 800px;
  min-width: 100%;
  padding: 15px 25px;
  font-size: 18px;
  border: 0;
  border: 1px solid #8fffab;
  position: fixed;
  /* SEARCH_BOTTOM - remove top and uncomment bottom */
  top: 65px;
  /* bottom: 0; */
  left: 0;
  z-index: 1;
  padding-right: 55px;
}

.search-input:focus-visible {
  background-color: #f1f1f1;
  outline: rgb(92, 92, 92) 4px solid;
}

.search-input-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-tabs-wrapper {
  width: 100%;
  display: flex;
  max-width: 800px;
  min-width: 100%;
}

.filter-tab {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  flex-grow: 1;
  padding: 15px 0;
  margin-bottom: 20px;
  border: none;
  background: rgb(125, 125, 125);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.filter-tab.active-tab {
  background: rgba(196, 196, 196);
}

.filter-tab:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid rgb(41, 41, 41);
}

.filter-tab:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid rgb(41, 41, 41);
}

.search-input-inner-wrapper {
  position: relative;
}

.chips-wrapper {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.chip {
  border: 1px solid rgb(92, 92, 92);
  border-radius: 20px;
  padding: 4px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 200ms ease;
}

.chip:hover {
  color: #8fffab;
  background-color: rgb(31, 31, 31);
}

.active {
  color: #8fffab;
  background-color: rgb(31, 31, 31);
}

.clear-button {
  padding: 8px;
  position: fixed;
  right: 18px;
  /* SEARCH_BOTTOM - remove top and uncomment bottom */
  top: 75px;
  /* bottom: 4px; */
  z-index: 1;
  color: rgb(27, 27, 27);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(31, 31, 31);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  /* SEARCH_BOTTOM - remove this height */
  height: 65px;
  border: 1px solid rgb(92, 92, 92);
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  background: none;
  border: 0;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  color: #8f8f8f;
  font-size: 18px;
  transition: color 300ms ease;
}

.nav-item:focus-visible {
  outline: #8fffab 3px solid;
  outline-offset: 0;
}

.nav-item:hover {
  color: #f1f1f1 !important;
}

.active-nav {
  color: #8fffab;
  background-color: rgb(27, 27, 27);
}

.creator,
.source-code {
  font-size: 0.9rem;
  padding: 1em 0;
  opacity: 0.9;
}

.simple-link {
  color: rgb(143, 255, 171);
}

.content-placeholder {
  margin: 40px 0;
  place-self: center;
}

.resource-wrapper {
  position: relative;
}

.bookmark-button {
  color: rgb(255, 255, 131);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 33px;
  height: 33px;
  border: 0;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: color 300ms ease;
  transition: background-color 300ms ease;
  margin: 2px;
  padding: 5px;
}

.remove-bookmark-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 33px;
  height: 33px;
  border: 0;
  border-radius: 100%;
  color: rgb(255, 255, 131);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease;
  padding: 5px;
  margin: 2px;
}

.resource-wrapper:hover .bookmark-button {
  color: hsl(135, 100%, 78%);
}

.resource-wrapper:hover .bookmark-button:hover {
  background-color: hsla(135, 100%, 78%, 0.192);
}

.resource-wrapper:hover .remove-bookmark-button {
  color: hsl(135, 100%, 78%);
}

.resource-wrapper:hover .remove-bookmark-button:hover {
  color: hsl(0, 100%, 78%);
  background-color: hsla(0, 100%, 78%, 0.247);
}

.resource-wrapper:hover .resource {
  font-weight: 700;
  color: #8fffab;
  background-color: rgb(31, 31, 31);
}

.bookmark-button:focus-visible,
.remove-bookmark-button:focus-visible {
  outline: #8fffab 3px solid;
}

.bookmark-button:active,
.remove-bookmark-button:active {
  transform: scale(95%);
  transform-origin: center;
}

.clear-bookmarks {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  color: rgb(255, 255, 131);
  align-self: flex-end;
  transition: color 300ms ease;
  border: 0;
  background: none;
}

.clear-bookmarks:hover {
  color: hsl(0, 100%, 78%);
}

.nav > * {
  text-decoration: none;
}

.load-more-btn {
  padding: 10px 20px;
  color: #8fffab;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  /* font-weight: 700; */
  border: 1px solid rgb(92, 92, 92);
  border-radius: 8px;
  background-color: rgb(31, 31, 31);
}

.load-more-btn:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.load-more-btn:disabled {
  color: #8fffab;
  opacity: 0.5;
  cursor: not-allowed;
}

.load-more-btn:disabled:hover {
  opacity: 0.5;
}

.resource-skeleton {
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  max-width: 635px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.resource-skeleton .left {
  width: 100%;
}

.resource-skeleton .larger {
  border-radius: 10px;
  height: 24px;
  max-width: 493px;
  margin-bottom: 10px;
  margin-right: 35px;
  animation: blinkAnimation 1s infinite alternate;
}

.resource-skeleton .smaller {
  border-radius: 10px;
  height: 23px;
  max-width: 60px;
  animation: blinkAnimation 1s infinite alternate;
}

.resource-skeleton .right {
  border-radius: 10px;
  min-height: 33px;
  min-width: 33px;
  animation: blinkAnimation 1s infinite alternate;
}

.page-title {
  font-family: "Roboto Mono";
  margin: 10px 0 20px 0;
}

.error-fetching-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.error-fetching-heading {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.page-description {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  margin-bottom: 20px;
}

.centered-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.error-fetching-content {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.error-fetching-list {
  margin-left: 20px;
}

.reload-button {
  cursor: pointer;
  min-width: 116px;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  background: #1f1f1f;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 20px;
}

@keyframes blinkAnimation {
  from {
    background-color: #5c5c5c;
  }

  to {
    background-color: #949494;
  }
}

/* New bookmark group modal */
.bookmark-group-modal {
  background-color: var(--modal-main-background);
  border-radius: var(--modal-border-radius);
  border: var(--modal-border);
  box-shadow: 2px 2px 5px 0px #00000040;
  overflow: hidden;
}

.bookmark-group-modal::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #292929;
  filter: opacity(0.6);
  z-index: -1;
}

.bookmark-group-modal-body {
  display: flex;
  padding: var(--modal-padding);
  padding-top: var(--modal-big-gap);
  background-color: var(--modal-main-background);
}

.new-bookmark-group-form {
  display: flex;
  flex-direction: column;
  gap: var(--modal-big-gap);
  background-color: var(--modal-main-background);
}

.new-bookmark-group-form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-bookmark-group-form-fields input {
  color: var(--modal-white);
  background-color: var(--modal-header-background);
  padding: var(--modal-border-radius);
  border: none;
  border: var(--modal-border);
  border-radius: var(--modal-border-radius);
  font-size: 16px;
}

.new-bookmark-group-form-fields input:focus,
.new-bookmark-group-form-buttons button:focus {
  outline: var(--modal-border-primary-color-focus);
}
.new-bookmark-group-form-fields input:focus {
  color: #292929;
  background-color: var(--modal-white);
}

.bookmark-group-modal-header {
  display: flex;
  justify-content: center;
  background-color: var(--modal-header-background);
  padding: var(--modal-border-radius);
  /* border-top-left-radius: var(--modal-border-radius);
  border-top-right-radius: var(--modal-border-radius); */
  perspective: 1px;
}

.new-bookmark-group-form-buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.new-bookmark-group-form-buttons button {
  padding: var(--modal-border-radius) var(--modal-padding);
  border-radius: var(--modal-border-radius);
  cursor: pointer;
}

.new-bookmark-group-form-cancel {
  color: var(--modal-white);
  border: 0;
  background-color: var(--modal-header-background);
}

.new-bookmark-group-form-submit {
  color: var(--modal-primary-color);
  border: var(--modal-border-primary-color);
  background: none;
}

@media (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
  }

  #root {
    align-items: center;
  }

  .header {
    align-self: flex-start;
    display: flex;
    /* padding-bottom: 2.5em; */
    margin-top: 0;
    margin-bottom: 3em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .header-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
  }

  .header-title {
    font-size: 35px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-description {
    font-size: 18px;
  }

  .header-links {
    flex-direction: column;
    gap: 0;
  }

  .main {
    display: grid;
    grid-template-columns: 25% minmax(0, 80%);
    gap: 40px;
    min-width: 100%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start; */
    justify-content: center;
    position: sticky;
    top: 0;
    min-width: 160px;
    height: auto;
    border-radius: 8px;
    /* min-width: 20%; */
  }

  a.nav-item {
    display: flex;
    justify-content: center;
  }

  .search-input-wrapper {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #292929;
    box-shadow: 0 5px 3px #292929;
  }

  .search-input {
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    position: static;
  }

  .clear-button {
    cursor: pointer;
    position: absolute;
    /* SEARCH_BOTTOM - remove top */
    top: auto;
    right: 18px;
    bottom: 28px;
    z-index: 1;
    color: rgb(27, 27, 27);
    width: 35px;
    height: 35px;
    display: flex;
    place-content: center;
    border-radius: 100%;
    transition: background-color 300ms ease;
  }

  .clear-button:hover {
    background-color: #8f8f8f48;
    border-radius: 100%;
  }
}
