@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Consolas", Courier, monospace;
  color: white;
  background-color: rgb(41, 41, 41);
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 280px;
  margin: 2.5em;
  position: relative;
}

.header-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-title {
  font-size: 25px;
  line-height: 100%;
  padding-top: 3em;
  padding-bottom: 0.2em;
}
.header-description {
  font-size: 16px;
}

.header-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.resource-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.bookmark-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bookmark-list,
.resource-list {
  padding-bottom: 5em;
}

.resource {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: #a5eeb7;
  text-decoration: none;
  background-color: rgb(31, 31, 31);
  padding: 20px;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 10px;
  font-weight: 700;
  flex-wrap: wrap;
  width: 100%;
}

.resource-title {
  font-weight: 400;
  font-size: 22px;
  padding-right: 35px;
}

.resource:hover {
  font-weight: 700;
  color: white;
  border: #f1f1f1 1px solid;
  font-style: italic;
}

.resource:focus-visible {
  font-style: italic;
  color: white;
  font-weight: 700;
  border: 1px solid #8fffab;
  outline: #8fffab 3px solid;
  outline-offset: 0;
}

.resource-type {
  font-size: x-small;
  top: 20px;
  right: 20px;
  color: rgb(51, 51, 51);
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 10px;
}

.search-input {
  font-family: "Consolas", Courier, monospace;
  background-color: #f1f1f1;
  max-width: 800px;
  min-width: 100%;
  padding: 15px 25px;
  font-size: 22px;
  border: 0;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.search-input:focus-visible {
  background-color: white;
  outline: rgb(92, 92, 92) 4px solid;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background-color: rgb(31, 31, 31);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Consolas", Courier, monospace;
  font-weight: 400;
  background: none;
  border: 0;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  color: #8f8f8f;
  font-size: 22px;
}

.active {
  color: white;
  background-color: rgb(27, 27, 27);
  font-weight: 700;
}

.nav-item:focus-visible {
  outline: #8fffab 3px solid;
  outline-offset: 0;
}

.nav-item:hover {
  color: white;
  font-style: italic;
}

.creator,
.source-code {
  opacity: 0.6;
}

.simple-link {
  color: rgb(143, 255, 171);
}

.content-placeholder {
  margin: 40px 0;
  place-self: center;
}

.resource-wrapper {
  position: relative;
}

.bookmark-button {
  color: rgb(255, 255, 131);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 131);
  cursor: pointer;
  line-height: 100%;
  transition: background-color 300ms ease;
}

.remove-bookmark-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
  background-color: rgb(255, 255, 131);
  cursor: pointer;
  transition: background-color 200ms ease;
}

.resource-wrapper:hover .bookmark-button {
  color: hsl(135, 100%, 78%);
  border: 2px solid hsl(135, 100%, 78%);
}

.resource-wrapper:hover .bookmark-button:hover {
  color: rgb(27, 27, 27);
  background-color: hsl(135, 40%, 60%);
  background-color: hsl(135, 100%, 78%);
}

.resource-wrapper:hover .remove-bookmark-button {
  color: hsl(0, 100%, 78%);
  background-color: hsl(0, 100%, 78%);
  color: rgb(27, 27, 27);
}

.resource-wrapper:hover .resource {
  font-weight: 700;
  color: white;
  border: #f1f1f1 1px solid;
  font-style: italic;
}

.bookmark-button:focus-visible,
.remove-bookmark-button:focus-visible {
  outline: #8fffab 3px solid;
}

.bookmark-button:active,
.remove-bookmark-button:active {
  transform: scale(95%);
  transform-origin: center;
}

.clear-bookmarks {
  cursor: pointer;
  color: rgb(255, 255, 131);
  align-self: flex-end;
}

.clear-bookmarks:hover {
  color: hsl(0, 100%, 78%);
}

.nav > * {
  text-decoration: none;
}

@media (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
  }

  #root {
    align-items: center;
  }

  .header {
    align-self: flex-start;
    display: flex;
    padding-bottom: 2.5em;
  }

  .header-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .header-title {
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-description {
    font-size: 22px;
  }

  .header-links {
    flex-direction: column;
    gap: 0;
  }

  .main {
    display: grid;
    grid-template-columns: 20% minmax(0, 80%);
    gap: 40px;
    min-width: 100%;
    max-width: 800px;
  }

  .main-content {
    min-width: 80%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    min-width: 160px;
  }

  .creator {
    padding: 1em 0;
  }

  .search-input {
    margin-bottom: 20px;
    border-radius: 10px;
    position: static;
    top: 0;
  }
}
